<mat-toolbar class="custom-navbar" color="primary">

  <div class="categorie">

    <img routerLink=""  class="logo" src="/assets/logo-film.png" alt="logo">
    <button mat-button color="Basic">Films</button>
    <button mat-button color="Basic">Musiques</button>
    <button mat-button color="Basic">Nouveautés</button>
    <button mat-button color="Basic">Playlists</button>

  </div>


  <div class="account">

    <!-- <input type="text" placeholder="Titres,genres,auteurs,..."> -->
    <app-search></app-search>
    <!-- <mat-icon class="customIcon">search</mat-icon> -->

  </div>


  <div class="connect">

    <button mat-button color="Basic" routerLink="/createUser">Créer un compte</button>
    <button mat-raised-button color="Warn" routerLink="/login">Se connecter</button>

  </div>


</mat-toolbar>
