<mat-toolbar class="custom-navbar" color="primary">
  <!-- <img routerLink=""  class="logo" src="/assets/logo.png" alt="logo"> -->

  <div class="categorie">
    <button mat-button color="Basic">Films</button>
    <button mat-button color="Basic">Musiques</button>
    <button mat-button color="Basic">Nouveautés</button>
    <button mat-button color="Basic">Playlists</button>
  </div>


  <div class="account">


  <input type="text" placeholder="Recherche">
  <mat-icon class="customIcon">search</mat-icon>


<div>

</div>



  </div>


    <div class="connect">
      <button  mat-button color="Basic">Créer un compte</button>
      <button  mat-raised-button color="Warn" routerLink="compo/login">Se connecter</button>
    </div>




  </mat-toolbar>
