<div class="login-page">
  <div class="login">
    <h2>Page de Connexion</h2>
    <form #loginForm="ngForm">

      <mat-form-field appearance="fill">
        <mat-label>Entrez votre adresse mail</mat-label>
        <input matInput placeholder="ex: votrenom@nomdedomaine.com" [(ngModel)]="username" name="username" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage}}</mat-error>
      </mat-form-field>
<br>

      <mat-form-field>
        <input matInput placeholder="Mot de passe" [(ngModel)]="password" name="password" type="password" required>
      </mat-form-field>
<br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Connexion</button>
    </form>
  </div>

</div>
