
    <!-- trending movies  -->
  <div class="col-14">
    <div class="card">
        <h5>Les films du moment</h5>
        <br>
        <p-carousel  [showIndicators]="false" [showNavigators]="true" [indicatorsContentStyle]="false" [value]="trendingMovieResult"[numVisible]="10" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-trendingMovieResult pTemplate="item">
              <div class="border-round text-center " style="margin:0.5vh ;">
                  <div class="my-7">
                      <img [routerLink]="['/detail',trendingMovieResult.id]" src="https://image.tmdb.org/t/p/original{{ trendingMovieResult. poster_path }}" [alt]="" class="shadow-4" width="100%"/>
                  </div>
              </div>
            </ng-template>
        </p-carousel>
    </div>
  </div>
<br>

  <!-- Upcoming  -->
  <div class="card">
      <h5>Les derniers films ajoutés</h5>
      <br>
      <p-carousel  [showIndicators]="false" [showNavigators]="true" [indicatorsContentStyle]="false" [value]="upComingMovieResult" [numVisible]="10" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
          <ng-template let-upComingMovieResult pTemplate="item">
            <div class="border-round text-center " style="margin:0.5vh ;"  >
                <div class="my-7">
                    <img [routerLink]="['/detail',upComingMovieResult.id]" src="https://image.tmdb.org/t/p/original{{ upComingMovieResult. poster_path }}" [alt]="" class="shadow-4" width="100%"/>
                </div>
            </div>
          </ng-template>
      </p-carousel>
  </div>
