<div class="home">
  <!-- <div class="musique">
  </div> -->
  <div class="film">
    <div class="welcom">

      <p-carousel  [showIndicators]="false" [showNavigators]="false" [indicatorsContentStyle]="false" [value]="image"
        [numVisible]="1" [numScroll]="1" [autoplayInterval]="5000" [circular]="true">
        <ng-template let-image pTemplate="item">

             <img src="https://image.tmdb.org/t/p/original{{ image. backdrop_path }}" [alt]="" width="100%"
            class="shadow-4" height="550vh" />

          </ng-template>
        </p-carousel>

      </div>

    <div class="top-films">
      <app-carousel></app-carousel>
    </div>

  </div>
</div>
